@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700|Dosis:100,200,300,400,500,600,700|Syncopate:100,200,300,400,500,600,700');


/*******************Background******************/

.background-main {
    background: url(../images/bg5.jpg);
    background-position: center;
    background-size: cover;

}

/**************Thankyou***************/

.thanks {
    font-family: "Exo+2", sans-serif;
    color: #fafafa;
    width: 50%;
    margin: auto;
    margin-top: 100px;
}

/*******************Footer*************/

.footer-style {
    color: #fafafa;
    text-align: center;

}



.inline-block {
    display: inline-block;
}

.icons {
    padding-top: 5px;
    display: inline-block;
    font-size: 20px;
}

.icons i {
    color: #fafafa;
}

.icons i:hover {
    color: #ff5773;
    transition: all 0.35s ease-in-out;
}

.tides {
    color: #fafafa;
}

.tides:hover {
    color: #ff5773;
    transition: all 0.35s ease-in-out;
}

section {
    min-height: calc(100vh - 218px);
}

/*******************navbar******************/

#nav {
    margin-left: 55px;
}

#nav li {
    padding: 0;
}

.hvr-bounce-to-right:before {
    background: rgb(0, 0, 0, 0.7);
    height: 120px;
}

.hvr-bounce-to-left:before {
    background: rgb(0, 0, 0, 0.7);
    height: 120px;
}

.hvr-bounce-to-top:before {
    background: rgb(0, 0, 0, 0.7);
    height: 120px;
}


.menuitem {
    text-decoration: none;
    font-family: "Exo+2", sans-serif;
    height: 100px;
    display: inline-block;
    width: 200px;
    overflow: hidden;
    margin: auto;
}



.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 100px;
    text-align: center;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}





/******************setsail**************/

.setsail {
    width: 50%;
    margin: auto;
    margin-top: 200px;
    font-family: "Dosis", sans-serif;
}

.setsail h3 {
    font-weight: 500;
    font-family: "Syncopate", sans-serif;
    font-size: 30px;
    color: #fafafa;
}

.fa-arrow-circle-right {
    padding: 5px;
    padding-top: 10px;
}

.setsailbutton {
    color: #fafafa;
}

.setsailbutton:hover {
    color: #ff5773;
    transition: all 0.35s ease-in-out;
}



/*******************Ships******************/

.cost {
    font-family: "Dosis", sans-serif;
    color: #fafafa;
}

.shiptext {
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    color: #f5f5f5;

}



.enquire2 {
    display: block;
    background-color: #fec405;
    padding: 5px;
    text-shadow: 5px;
    border: none;
    font-family: "Dosis", sans-serif;
    margin-bottom: 5.5px;
}

.enquire2 a {
    text-decoration: none;
    color: #000;
    font-family: "Dosis", sans-serif;

}

.enquire2 a:hover {
    color: #fafafa;
    transition: all 0.35s ease-in-out;
}

.video-tour {
    display: block;
    background-color: #fec405;
    padding: 5px;
    text-shadow: 5px;
    border: none;
    font-family: "Dosis", sans-serif;
    margin-bottom: 5.5px;


}

.video-tour:hover {
    color: #fafafa;
    transition: all 0.35s ease-in-out;
}

.fa-video {
    margin-left: 10px;
}

.ship-description {
    display: inline-block;
    width: inherit;
    vertical-align: middle;
    margin-left: 5px;
    word-wrap: break-word;
    color: #fafafa;


}



.banner1 {
    background-color: #0a9a4e;
    text-align: center;
    font-family: "Exo+2" sans-serif;
    font-size: 15px;
    float: left;
    padding: 10px;
    color: #fafafa;
}

.banner2 {
    background-color: #424143;
    text-align: center;
    font-family: "Exo+2" sans-serif;
    font-size: 15px;
    float: left;
    padding: 10px;
    color: #fafafa;
}

.banner3 {
    background-color: #cd3000;
    text-align: center;
    font-family: "Exo+2" sans-serif;
    font-size: 15px;
    float: left;
    padding: 10px;
    color: #fafafa;
}

.banner4 {
    background-color: #0a9a4e;
    text-align: center;
    font-family: "Exo+2" sans-serif;
    font-size: 15px;
    float: left;
    padding: 10px;
    color: #fafafa;
}

.banner5 {
    background-color: #1DC3DB;
    text-align: center;
    font-family: "Exo+2" sans-serif;
    font-size: 15px;
    float: left;
    padding: 10px;
    color: #fafafa;
}

.ship-modal {
    background-color: rgb( 0, 0, 0, 0.5);
    margin-bottom: 5px;
    width: 100%;
}

.yacht1 {
    background: url(../images/my1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    min-width: 200px;
    width: 100%;
    float: left;
    margin-left: 10px;
}

.yacht2 {
    background: url(../images/my2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    min-width: 200px;
    float: left;
    margin-left: 10px;

}

.yacht3 {
    background: url(../images/my3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    min-width: 200px;
    float: left;
    margin-left: 10px;

}

.yacht4 {
    background: url(../images/my4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    min-width: 200px;
    float: left;
    margin-left: 10px;

}

.yacht5 {
    background: url(../images/my5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    min-width: 200px;
    float: left;
    margin-left: 10px;

}


/***************Customerlounge****************/

.cl1 {
    font-family: "Exo+2", sans-serif;
    margin: auto;
    width: 50%;
    padding: 5px;
    color: #fafafa;
}

.cl2 {
    font-family: "Exo+2", sans-serif;
    margin: auto;
    width: 50%;
    padding: 5px;
    color: #fafafa;
}


.cl3 {
    font-family: "Exo+2", sans-serif;
    margin: auto;
    width: 50%;
    padding: 5px;
    color: #fafafa;
}

.cl4 {
    font-family: "Exo+2", sans-serif;
    margin: auto;
    width: 50%;
    padding: 5px;
    color: #fafafa;
}

.form-align {
    font-family: "Exo+2", sans-serif;
    margin: auto;
    width: 50%;
    padding: 5px;
    color: #fafafa;
    margin-bottom: 60px;

}

.sign-in {
    margin: auto;
    width: 50%;
    background-color: #fec405;
    border: none;
    border-radius: 50px;
}



/*************contact-us****************/

.contact-style {
    height: 100px;
    width: 50%;
    margin: auto;
    text-align: center;
    color: #fafafa;
    height: 450px;
}


.contact-text1 {
    font-family: "Exo+2", sans-serif;
    padding: 5px;
    width: inherit;
    margin: auto;
}

.contact-text2 {
    font-family: "Exo+2", sans-serif;
    padding: 5px;
    width: inherit;
    margin: auto;
}



.space {
    margin: 50px;
    background-color: rgb(0, 0, 0, 0.5);
}

.at-style {
    font-size: 50px;
    margin-top: 100px;
    color: #fafafa;

}

.at-style:hover {
    color: #ff5773;
    transition: all 0.35s ease-in-out;
}

.phone-style:hover {
    color: #ff5773;
    transition: all 0.35s ease-in-out;
}

.phone-style {
    font-size: 50px;
    margin-top: 100px;
    color: #fafafa;
}



/**************DropDownBtn***************/

.dropbtn {
    border-radius: 50px;
    height: 50px;
    width: 200px;
    background-color: #fec405;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: "Exo+2", sans-serif;
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-family: "Dosis", sans-serif;

}

.dropdown-content {
    margin-left: 20px;
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.9);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: "Dosis", sans-serif;
    border-radius: 10px;

}

.dropdown-content a {
    color: #fafafa;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Dosis", sans-serif;

}

.dropdown-content a:hover {
    background-color: #FF5733;
    transition: all 0.35s ease-in-out;


}

.dropdown:hover .dropdown-content {
    display: block;
    transition: all 0.35s ease-in-out;


}

.dropdown:hover .dropbtn {
    background-color: #FF5733;
    transition: all 0.35s ease-in-out;


}

/*************Media Queries**************/

@media (max-width: 768px) {

    .ship-description {
        font-size: 25px;
    }

    .video-tour {
        margin-top: 60px;
    }

    .enquire2 {
        margin-top: 60px;
    }

}

@media (max-width: 960px) {

    .dropbtn {
        display: inline-block;
    }
    .menuitem {
        display: none;
    }
}

@media (max-width: 960px) {

    .contact-text2 {
        display: none;
    }


}
