@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700|Dosis:100,200,300,400,500,600,700|Syncopate:100,200,300,400,500,600,700');


/*******************Background******************/

.background-main {
    background: url(../images/bg5.jpg);
    background-position: center;
    background-size: cover;

}



/*******************Footer*************/

.footer-style {
    color: #fafafa;
    text-align: center;

}



.inline-block {
    display: inline-block;
}

.icons {
    padding-top: 5px;
    display: inline-block;
    font-size: 20px;
}

.icons i {
    color: #fafafa;
}

.icons i:hover {
    color: #ff5773;
    transition: all 0.35s ease-in-out;
}

.tides {
    color: #fafafa;
}

.tides:hover {
    color: #ff5773;
    transition: all 0.35s ease-in-out;
}

/*******************navbar******************/

#nav {
    margin-left: 55px;
}

#nav li {
    padding: 0;
}



.menuitem {
    text-decoration: none;
    font-family: "Exo+2", sans-serif;
    height: 100px;
    display: inline-block;
    width: 200px;


}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 100px;
    text-align: center;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}





/******************setsail**************/

.setsail {
    padding-left: 200px;
    padding-top: 300px;
    font-family: "Dosis", sans-serif;
}

.setsail h3 {
    font-weight: 500;
    font-family: "Syncopate", sans-serif;
    font-size: 30px;
    color: #fafafa;
}

.fa-arrow-circle-right {
    padding: 5px;
    padding-top: 10px;
}

.setsailbutton {
    color: #fafafa;
}

.setsailbutton:hover {
    color: #ff5773;
    transition: all 0.35s ease-in-out;
}



/*******************Ships******************/

.shiptext {
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    color: #f5f5f5;

}

.enquire {
    position: static;
    float: right;

}

.enquire2 {
    border: none;
    background-color: #fec405;
    display: block;
    padding: 5px;
    text-shadow: 5px;
    margin-top: -40px;
}

.enquire2 a {
    text-decoration: none;
    color: #000;
    font-family: "Dosis", sans-serif;
}

.enquire2 a:hover {
    color: #fafafa;
    transition: all 0.35s ease-in-out;
}

.video-tour {
    display: block;
    background-color: #fec405;
    padding: 5px;
    text-shadow: 5px;
    border: none;
    margin-left: 60px;
    margin-bottom: 7px;
    font-family: "Dosis", sans-serif;

}

.video-tour:hover {
    color: #fafafa;
    transition: all 0.35s ease-in-out;
}

.fa-video {
    margin-left: 10px;
}

.ship-description {
    display: inline-block;
    height: 150px;
    width: 500px;
    vertical-align: middle;
    margin-left: 5px;
}



.banner1 {
    background-color: #0a9a4e;
    text-align: center;
    font-family: "Exo+2" sans-serif;
}

.banner2 {
    background-color: #424143;
    text-align: center;
    font-family: "Exo+2" sans-serif;
}

.banner3 {
    background-color: #cd3000;
    text-align: center;
    font-family: "Exo+2" sans-serif;
}

.banner4 {
    background-color: #0a9a4e;
    text-align: center;
    font-family: "Exo+2" sans-serif;
}

.banner5 {
    background-color: #1DC3DB;
    text-align: center;
    font-family: "Exo+2" sans-serif;
}

.ship-modal {
    background-color: rgb( 0, 0, 0, 0.5);
    margin-bottom: 5px;
}

.yacht1 {
    background: url(../images/my1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    min-width: 200px;
    float: left;
}

.yacht2 {
    background: url(../images/my2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    min-width: 200px;
    float: left;
}

.yacht3 {
    background: url(../images/my3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    min-width: 200px;
    float: left;
}

.yacht4 {
    background: url(../images/my4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    min-width: 200px;
    float: left;
}

.yacht5 {
    background: url(../images/my5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    min-width: 200px;
    float: left;
}


/***************Customerlounge****************/

.cl1 {
    font-family: "Exo+2", sans-serif;
    margin: auto;
    width: 50%;
    padding: 5px;
    color: #fafafa;
}

.cl2 {
    font-family: "Exo+2", sans-serif;
    margin: auto;
    width: 50%;
    padding: 5px;
    color: #fafafa;
}


.cl3 {
    font-family: "Exo+2", sans-serif;
    margin: auto;
    width: 50%;
    padding: 5px;
    color: #fafafa;
}

.cl4 {
    font-family: "Exo+2", sans-serif;
    margin: auto;
    width: 50%;
    padding: 5px;
    color: #fafafa;
}

.form-align {
    font-family: "Exo+2", sans-serif;
    margin: auto;
    width: 50%;
    padding: 5px;
    color: #fafafa;
    margin-bottom: 60px;
    
}

.sign-in {
    margin: auto;
    width: 50%;
    background-color: #fec405;
    border: none;
    border-radius: 50px;
}